<%
@product.option_types.uniq.each do |option_type|
  options = @product.option_values.all(:conditions => {:option_type_id => option_type.id}).map{|ov|
    [ov.presentation, ov.id]
  }
  next if options.empty?
%>
  <div class="option-type-wrapper" id="option-type_<%=option_type.name%>">
    <span class="option-type"><%= option_type.presentation %></span>
    <% select_options = options.map{|o|
      selected_attribute = ' selected="selected"' if o[2]
      %(<option value="#{html_escape(o[1].to_s)}"#{selected_attribute}>#{html_escape(o[0].to_s)}</option>)
    } %>
    <%= select_tag("option_values[#{@product.id}][#{option_type.id}]", select_options, :class=>"option-type" ) %>
  </div>
  <% 
end %>